*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: initial; }

html {
  box-sizing: border-box;
  font-size: 55%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 63em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 56.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Jost", sans-serif;
  color: #4c4f52;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 1.6;
  overflow: hidden; }
  @media only screen and (max-width: 56.5em) {
    body {
      overflow: scroll; } }

::selection {
  color: white;
  background: #c818df; }

.heading-1 {
  font-family: "Righteous", cursive;
  letter-spacing: 4px;
  font-weight: 600;
  font-size: 10rem; }

.wrapper {
  position: relative;
  width: 200vw;
  height: 200vh;
  background-color: black;
  color: blanchedalmond;
  overflow: hidden; }
  @media only screen and (max-width: 56.5em) {
    .wrapper {
      width: auto;
      height: auto;
      padding-bottom: 3rem;
      padding-top: 8rem; } }
  @media only screen and (max-width: 56.5em) {
    .wrapper {
      padding-top: 3rem;
      padding-bottom: 0; } }

.background-video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 56.5em) {
    .background-video {
      width: auto;
      height: 100vh; } }

.btn {
  background-color: transparent;
  color: wheat;
  font-size: 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none; }
  .btn-primary {
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, white 50%);
    background-size: 565%;
    padding: 1rem 1.5rem;
    border: 1px solid currentColor;
    border-radius: 5px;
    transition: all .8s ease-out;
    margin-right: .5rem;
    margin-top: .5rem; }
    @media only screen and (max-width: 40em) {
      .btn-primary {
        padding: 1rem;
        background-size: 600%; } }
    @media only screen and (max-width: 56.5em) {
      .btn-primary span {
        display: none; } }
    .btn-primary:hover {
      background-position: 100%;
      color: black; }
  .btn-secondary::after {
    transition: all .5s ease-out;
    content: "";
    display: block;
    width: 90%;
    height: 3px;
    margin: 1rem auto;
    background-color: currentColor; }
  .btn-secondary:hover {
    color: #c818df; }
    .btn-secondary:hover::after {
      width: 0;
      background-image: linear-gradient(to right, #5918df, #c818df, #5918df); }

.logo {
  color: #c818df;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem;
  z-index: 999;
  font-size: 4rem;
  font-family: "Righteous", cursive; }
  @media only screen and (max-width: 56.5em) {
    .logo {
      padding: 0rem;
      margin: 3rem;
      background-color: black;
      border-radius: 200px; } }
  .logo-link {
    text-decoration: none;
    color: inherit; }
    .logo-link span {
      color: #5918df; }

.loader-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 3500; }

.loader {
  width: 100px;
  height: 100px;
  padding-bottom: 0.2rem;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 3000; }

.loader .dot1 {
  height: 25%;
  width: 25%;
  background-color: aqua;
  animation: bounce 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0s infinite; }

.loader .dot2 {
  height: 25%;
  width: 25%;
  background-color: aqua;
  animation: bounce 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.3s infinite; }

.loader .dot3 {
  height: 25%;
  width: 25%;
  background-color: aqua;
  animation: bounce 2s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.7s infinite; }

@keyframes bounce {
  0% {
    transform: scaleY(0.5); }
  25% {
    transform: scaleY(1) translateY(-70px); }
  98% {
    transform: scaleY(1) translateY(-5); }
  100% {
    transform: scaleY(0.5) translateY(0); } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 56.5em) {
    .header {
      position: relative;
      width: auto;
      min-height: 100vh;
      padding-bottom: 6rem; } }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%; }
    .header-text h1 {
      line-height: 130%;
      font-size: 9rem; }
    @media only screen and (max-width: 40em) {
      .header-text {
        margin-left: 7%; } }
    @media only screen and (max-width: 30em) {
      .header-text h1 {
        font-size: 7rem;
        line-height: 150%; } }
  .header-letter-1 {
    transition: all .1s; }
    .header-letter-1:hover {
      color: #5918df;
      line-height: 0; }
      @media only screen and (max-width: 30em) {
        .header-letter-1:hover {
          font-size: 6.5rem; } }
  .header-letter-2 {
    transition: all .1s; }
    .header-letter-2:hover {
      color: #c818df;
      line-height: 0; }
      @media only screen and (max-width: 30em) {
        .header-letter-2:hover {
          font-size: 6.5rem; } }
  .header-letter-3 {
    color: #5918df;
    transition: all .1s; }
    .header-letter-3:hover {
      color: #c818df;
      line-height: 0; }
  .header-letter-4 {
    transition: all .1s;
    color: #c818df; }
    .header-letter-4:hover {
      color: #5918df;
      line-height: 0; }
  .header-links {
    margin-top: 3rem;
    align-self: start;
    margin-left: 15%; }
    @media only screen and (max-width: 40em) {
      .header-links {
        margin-left: 7%; } }
    @media only screen and (max-width: 30em) {
      .header-links span {
        display: none; } }

#output {
  color: #c818df;
  font-size: 3rem; }

@keyframes letter-up {
  0% {
    font-size: 10rem; }
  40% {
    font-size: 9.5rem;
    color: #c818df; }
  100% {
    font-size: 10rem; } }

.works {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 56.5em) {
    .works {
      position: relative;
      width: auto;
      min-height: fit-content;
      padding-top: 10rem;
      padding-bottom: 10rem; } }
  @media only screen and (max-width: 40em) {
    .works {
      padding-top: 5rem; } }
  .works-links {
    writing-mode: vertical-lr;
    margin: 4rem;
    padding-top: 8rem;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content; }

.works-box {
  flex: 1;
  padding: 3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.works-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 67vh;
  overflow-y: scroll; }
  .works-wrapper::-webkit-scrollbar {
    width: 3px; }
  .works-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem; }
  .works-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem; }
  .works-wrapper:hover::-webkit-scrollbar-thumb {
    background: gainsboro; }

.roll-up {
  overflow: hidden;
  position: relative; }
  .roll-up > span {
    font-size: 2.5rem;
    display: inline-block;
    position: relative; }
    .roll-up > span:nth-child(1) {
      transition-delay: 0.03s; }
    .roll-up > span:nth-child(2) {
      transition-delay: 0.06s; }
    .roll-up > span:nth-child(3) {
      transition-delay: 0.09s; }
    .roll-up > span:nth-child(4) {
      transition-delay: 0.12s; }
    .roll-up > span:nth-child(5) {
      transition-delay: 0.15s; }
    .roll-up > span:nth-child(6) {
      transition-delay: 0.18s; }
    .roll-up > span:nth-child(7) {
      transition-delay: 0.21s; }
    .roll-up > span > span {
      display: inline-block;
      transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
      transition-delay: inherit; }
      .roll-up > span > span:nth-child(1) {
        position: relative; }
      .roll-up > span > span:nth-child(2) {
        position: absolute;
        transform: translateY(100%);
        left: 0;
        color: #7b45e9; }

.text-reveal {
  position: relative;
  overflow: hidden; }
  .text-reveal span {
    display: block;
    transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s; }
  .text-reveal > span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    color: #d5b2da; }
    .text-reveal > span:nth-child(2) > span {
      overflow: hidden;
      transform: translateX(-100%); }
      .text-reveal > span:nth-child(2) > span:nth-child(1) {
        transition-delay: 0.1s; }
      .text-reveal > span:nth-child(2) > span:nth-child(2) {
        transition-delay: 0.2s; }
      .text-reveal > span:nth-child(2) > span:nth-child(3) {
        transition-delay: 0.3s; }
      .text-reveal > span:nth-child(2) > span:nth-child(4) {
        transition-delay: 0.4s; }
      .text-reveal > span:nth-child(2) > span:nth-child(5) {
        transition-delay: 0.5s; }
      .text-reveal > span:nth-child(2) > span:nth-child(6) {
        transition-delay: 0.6s; }
      .text-reveal > span:nth-child(2) > span:nth-child(7) {
        transition-delay: 0.7s; }
      .text-reveal > span:nth-child(2) > span > span {
        transform: translateX(100%);
        transition-delay: inherit; }

.card {
  text-decoration: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 28%;
  width: 100%;
  height: 19rem;
  padding: 2rem;
  box-shadow: 0 2rem 3rem 1rem rgba(0, 0, 0, 0.37), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: top;
  cursor: pointer; }
  .card-1, .card-2 {
    margin: 8rem 8rem 0 0rem; }
    @media only screen and (max-width: 40em) {
      .card-1, .card-2 {
        margin: 5rem 4.5rem 0 0rem; } }
  .card-3, .card-4 {
    margin: 8rem 0 0 8rem; }
    @media only screen and (max-width: 40em) {
      .card-3, .card-4 {
        margin: 5rem 4rem 0 0rem; } }
  .card-single-left {
    margin-right: auto;
    margin-left: 18rem; }
    @media only screen and (max-width: 40em) {
      .card-single-left {
        margin: 5rem 4rem 0 0rem; } }
  @media only screen and (max-width: 40em) {
    .card {
      max-width: 60%;
      height: 10rem; } }
  @media only screen and (max-width: 30em) {
    .card {
      max-width: 100%;
      height: 10rem; } }
  .card:before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%); }
  .card .card__content {
    z-index: 1; }
    .card .card__content .card__content--description {
      position: absolute;
      bottom: 2rem;
      right: 0;
      margin-right: -8rem;
      text-align: left;
      max-width: 17.5rem; }
  .card:hover {
    box-shadow: 0 0rem 5rem rgba(255, 255, 255, 0.219); }
    .card:hover .roll-up > span > span:nth-child(1) {
      transform: translateY(-100%); }
    .card:hover .roll-up > span > span:nth-child(2) {
      transform: translateY(0); }
    .card:hover .text-reveal > span:nth-child(2) > span,
    .card:hover .text-reveal > span:nth-child(2) > span > span {
      transform: translateX(0); }

.social {
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  z-index: 999; }
  @media only screen and (max-width: 56.5em) {
    .social {
      bottom: 2rem;
      left: 2rem; } }
  .social-checkbox {
    display: none; }
  .social-btn {
    height: 7rem;
    width: 7rem;
    position: fixed;
    bottom: 4rem;
    left: 4rem;
    border-radius: 50%;
    z-index: 1000;
    cursor: pointer; }
    @media only screen and (max-width: 56.5em) {
      .social-btn {
        bottom: 2rem;
        left: 2rem; } }
  .social-link-linkedin {
    position: fixed;
    bottom: 4rem;
    left: 6.5rem;
    z-index: 999;
    transition: all .7s ease-out; }
    @media only screen and (max-width: 56.5em) {
      .social-link-linkedin {
        left: 4rem;
        bottom: 2rem; } }
  .social-link-github {
    position: fixed;
    bottom: 4rem;
    left: 6.5rem;
    z-index: 999;
    transition: all .7s .1s ease-out; }
    @media only screen and (max-width: 56.5em) {
      .social-link-github {
        left: 4rem;
        bottom: 2rem; } }
  .social-img {
    background-color: black;
    cursor: pointer; }
  .social-search {
    position: fixed;
    bottom: 4rem;
    left: 5rem;
    z-index: 999;
    height: 5rem;
    width: 5rem;
    transition: all .9s ease-in;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 10px 20px 0 0; }
    @media only screen and (max-width: 56.5em) {
      .social-search {
        bottom: 2rem;
        left: 2.5rem; } }
  .social-linkedin {
    transition: all .7s ease-out;
    height: 1rem;
    width: 1rem;
    border-radius: 50%; }
  .social-github {
    transition: all .7s .1s ease-out;
    height: 1rem;
    width: 1rem;
    border-radius: 50%; }
  .social-checkbox:checked ~ .social-link-linkedin {
    transform: translateY(-10rem) rotate(720deg) scale(5);
    filter: brightness(1.5); }
  .social-checkbox:checked ~ .social-search {
    animation: unset;
    filter: brightness(2);
    transform: rotate(1440deg); }
  .social-checkbox:checked ~ .social-link-github {
    transform: translateY(-17rem) rotate(1080deg) scale(5);
    filter: brightness(1.5); }

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(1); }
  50% {
    transform: scale(1.05);
    filter: brightness(1.5); }
  100% {
    transform: scale(1);
    filter: brightness(1); } }

.contact {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.5em) {
    .contact {
      position: relative;
      width: auto;
      height: fit-content; } }

.contact-wrapper {
  flex: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 3rem; }
  @media only screen and (max-width: 56.5em) {
    .contact-wrapper {
      padding-bottom: 15rem; } }
  @media only screen and (max-width: 30em) {
    .contact-wrapper {
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contact-wrapper br {
        display: none; } }

.contact-heading {
  grid-column: 4/5;
  font-size: 13rem;
  line-height: 100%;
  font-family: "Righteous", cursive; }
  .contact-heading-1 {
    color: #5918df; }
  .contact-heading-2 {
    color: #c818df; }
  @media only screen and (max-width: 40em) {
    .contact-heading {
      margin-left: -8%;
      font-size: 15rem; } }
  @media only screen and (max-width: 30em) {
    .contact-heading {
      margin-left: 5%;
      font-size: 10rem;
      padding-bottom: 1rem; } }

.contact-form {
  grid-column: 2/-1;
  grid-row: 2/3; }
  @media only screen and (max-width: 30em) {
    .contact-form {
      margin-left: 3rem;
      margin-right: 5rem; } }

.contact-lable {
  line-height: 150%;
  font-size: 2rem; }

.contact-input {
  color: inherit;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  width: 45%;
  padding: .5rem;
  border-bottom: 2px solid #5918df; }
  @media only screen and (max-width: 30em) {
    .contact-input {
      display: block;
      width: 100%;
      margin-bottom: 2.5rem; } }
  .contact-input:focus:invalid {
    border-bottom: 2px solid orangered; }
  .contact-input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(253, 252, 252, 0.199);
    border-bottom: 2px solid #c818df; }

.contact-submit {
  min-width: 10%; }
  @media only screen and (max-width: 30em) {
    .contact-submit {
      float: right;
      padding: 1rem 2rem; } }

.contact-links {
  writing-mode: vertical-lr;
  margin-right: 4rem;
  padding-top: 8rem;
  height: max-content; }

.resume {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.5em) {
    .resume {
      position: relative;
      width: auto;
      min-height: 100vh;
      padding-top: 10rem;
      padding-bottom: 20rem; } }
  @media only screen and (max-width: 40em) {
    .resume {
      padding-top: 0; } }

.code-links {
  writing-mode: vertical-lr;
  margin-right: 3rem;
  padding-top: 8rem;
  height: max-content; }

.code-title {
  display: none; }
  @media only screen and (max-width: 56.5em) {
    .code-title {
      display: block; } }

.code-wrapper {
  flex: 1;
  padding: 3rem;
  padding-right: 2rem;
  padding-left: 1rem;
  margin-top: 5%; }
  @media only screen and (max-width: 40em) {
    .code-wrapper {
      padding-right: 2rem; } }
  @media only screen and (max-width: 30em) {
    .code-wrapper {
      width: max-content;
      overflow: auto;
      white-space: nowrap;
      margin-right: 3rem; } }

.code-line {
  padding-left: 4%;
  margin-left: 2%;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem; }
  .code-line-0 {
    font-size: 2.5rem; }
  @media only screen and (max-width: 40em) {
    .code-line {
      margin-left: 1%; } }
  .code-line:hover {
    background-color: rgba(41, 41, 41, 0.637); }

.code-animation {
  line-height: 0;
  font-size: 2.2rem;
  font-weight: bolder;
  animation: type 1s infinite; }

.code-dot {
  color: #5f5e5e; }

.code-grey {
  color: #979797; }

.code-red {
  color: red; }

.code-orange {
  color: orange; }

.code-blue {
  color: blueviolet; }

.code-yellow {
  color: yellow; }

.code-green {
  color: green; }

.code-greenyellow {
  color: yellowgreen; }

@keyframes type {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.navigation-checkbox {
  display: none; }

.navigation-btn {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer; }

.navigation-background {
  z-index: 1000;
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(245, 222, 179, 0.842), transparent);
  transition: all 1s; }
  @media only screen and (max-width: 40em) {
    .navigation-background {
      background-image: linear-gradient(to bottom, rgba(245, 222, 179, 0.959), transparent); } }

.navigation-nav {
  height: 0;
  min-width: 50%;
  position: fixed;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  opacity: 0;
  transform-origin: right;
  transition: all .5s;
  pointer-events: none;
  cursor: not-allowed; }
  @media only screen and (max-width: 40em) {
    .navigation-nav {
      top: 42%; } }

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between; }

.navigation-link:link, .navigation-link:visited {
  text-decoration: none;
  transition: all .5s;
  font-size: 2rem;
  color: black;
  font-weight: bolder;
  text-transform: uppercase; }
  .navigation-link:link span, .navigation-link:visited span {
    color: #5918df; }
  @media only screen and (max-width: 40em) {
    .navigation-link:link, .navigation-link:visited {
      font-size: 1.6rem; } }

.navigation-link:hover, .navigation-link:active {
  color: #5918df;
  transform: translateY(-0.7rem) scale(1.15); }

.navigation-checkbox:checked ~ .navigation-background {
  height: 33%; }
  @media only screen and (max-width: 40em) {
    .navigation-checkbox:checked ~ .navigation-background {
      height: 56%; } }

.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  height: 50vh;
  pointer-events: unset;
  cursor: auto; }

.navigation-icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation-icon, .navigation-icon::before, .navigation-icon::after {
    height: 2px;
    background-color: blanchedalmond;
    display: inline-block;
    width: 4.5rem; }
  .navigation-icon::before, .navigation-icon::after {
    content: "";
    position: absolute;
    right: 0;
    transition: all .3s;
    transform: translateX(0.5rem); }
  .navigation-icon::after {
    top: 1.3rem; }
  .navigation-icon::before {
    top: -1.3rem; }

.navigation-btn:hover .navigation-icon {
  background-color: #5918df; }

.navigation-btn:hover .navigation-icon::before {
  transform: translateX(0);
  background-color: #c818df; }

.navigation-btn:hover .navigation-icon::after {
  transform: translateX(0);
  background-color: #c818df; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon {
  background-color: transparent; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
  transform: rotate(45deg);
  top: 0; }

.navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
  transform: rotate(-45deg);
  top: 0; }

.move-in-right {
  opacity: 0; }

.move-in-right.add-animation {
  animation: moveInRight 1s ease-out;
  opacity: 1; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-in-up {
  opacity: 0; }

.move-in-up.add-animation {
  animation: moveInUp 1s ease-out;
  opacity: 1; }

@keyframes moveInUp {
  0% {
    opacity: 1;
    transform: translateY(12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-in-down {
  opacity: 0; }

.move-in-down.add-animation {
  animation: moveInDown 1s ease-out;
  opacity: 1; }

@keyframes moveInDown {
  0% {
    opacity: 1;
    transform: translateY(-12rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.move-in-left {
  opacity: 0; }

.move-in-left.add-animation {
  animation: moveInLeft 1s ease-out;
  opacity: 1; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.fade-in {
  opacity: 0; }

.fade-in.add-animation {
  transition: opacity 1.5s ease-out;
  opacity: 1; }
