.contact{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    @media only screen and (max-width:$bp-large) {position: relative; width: auto; height: fit-content;}
}
.contact{
    &-wrapper{
        flex: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 3rem;
        @media only screen and (max-width:$bp-large) {padding-bottom: 15rem;}
        @media only screen and (max-width:$bp-small) {padding-bottom: 5rem; display: flex; flex-direction: column; justify-content: center; br{display: none;}}
    }
    &-heading{
        grid-column: 4/5;
        font-size: 13rem;
        line-height: 100%;
        font-family: $font-header;
        &-1{color: $color-primary;}
        &-2{color: $color-secondary;}
        @media only screen and (max-width:$bp-medium) {margin-left: -8%; font-size: 15rem;}
        @media only screen and (max-width:$bp-small) {margin-left: 5%; font-size: 10rem; padding-bottom: 1rem;}
    }
    &-form{
        grid-column: 2/-1;
        grid-row: 2/3;
        @media only screen and (max-width:$bp-small) {margin-left: 3rem; margin-right: 5rem;}
    }
    &-lable{
        line-height: 150%;
        font-size: 2rem;
    }
    &-input{
        color: inherit;
        font-size: 1.8rem;
        background-color: transparent;
        border: none;
        width: 45%;
        padding: .5rem;
        border-bottom: 2px solid $color-primary;
        @media only screen and (max-width:$bp-small) {display: block; width: 100%; margin-bottom: 2.5rem;}
        &:focus:invalid{
            border-bottom:2px solid orangered;
        }
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba(253, 252, 252, 0.199);
            border-bottom: 2px solid $color-secondary
        }
    }
    &-submit{
        min-width:10% ;
        @media only screen and (max-width:$bp-small) {float: right; padding: 1rem 2rem;}
    }
    &-links{
        writing-mode: vertical-lr;
        margin-right: 4rem;
        padding-top: 8rem;
        height: max-content;
    }
}